[submodule "backend"]
	path = backend
	url = git@github.com:UnicornUniversity/backend-implementation-Jularthus.git
[submodule "frontend"]
	path = frontend
	url = git@github.com:UnicornUniversity/frontend-implementation-Jularthus.git
